// .text { font-family: $font-primary; }
// .link, .project-description, .error--404, .text--copyright, .caption, .input, .project-text__type { font-family: $font-link; }
// .intro__easteregg, .intro__position, .text-header--project, .text--intro { font-family: $font-accent; }
// .project-text__title, .project-title, .text-header, .error--title { font-family: $font-project; }

// .fonts-loaded .text { font-family: $font-primary-loaded; }
// .fonts-loaded .link, .fonts-loaded .project-description, .fonts-loaded .error--404, .fonts-loaded .text--copyright, .fonts-loaded .caption, .fonts-loaded .input, .fonts-loaded .project-text__type { font-family: $font-link-loaded; }
// .fonts-loaded .intro__easteregg, .fonts-loaded .intro__position, .fonts-loaded .text-header--project, .fonts-loaded .text--intro { font-family: $font-accent-loaded; }
// .fonts-loaded .project-text__title, .fonts-loaded .project-title, .fonts-loaded .text-header, .fonts-loaded .error--title { font-family: $font-project-loaded; }

@include plumber-set-defaults(
    $grid-height: 1rem,
    $line-height: 2,
    $leading-top: 0,
    $leading-bottom: 0
);


h1, h2, h3, h4, h5, h6, p, nav, ul {
	color: $black;
}

a {
	font-family: $font-accent;
	font-weight: 500;
	color: $type-lightgrey;
	@include plumber(
		$baseline: $accent-baseline,
		$font-size: 1.1,
		$leading-top: 1
	);
	@include transition(100ms);
}

a:hover {
	color: $type-med-grey;
}

p a {
	@extend p;
	text-decoration: underline;
	@include transition(100ms);
}

h1 a {
	@extend h1;
	text-decoration: underline;
	@include transition(100ms);
}

p a:hover, h1 a:hover {
	opacity: 0.6; 
}

h1 {
	@include for-tablet-portrait-up {
		font-family: $font-serif;
		font-weight: 300;
		color: $type-grey;
		@include plumber(
			$baseline: $serif-baseline,		
			$grid-height: 0.5rem,
			$font-size: 3.2,
			$line-height: 6,
			$leading-top: 5,
			$leading-bottom: 16
		);
	}
	@include for-phone-only {
		z-index: 99;
		@include plumber(
			$baseline: $accent-baseline,		
			$grid-height: 0.5rem,
			$font-size: 3,
			$line-height: 5,
			$leading-top: 5,
			$leading-bottom: 10
		);
	}
	// font-family: $font-accent;
	// font-weight: 600;
	// @include plumber(
	// 	$baseline: $accent-baseline,
	// 	$font-size: 1.5,
	//     $leading-top: 1,
	//     $leading-bottom: 2
	// );	
}


h2 {
	font-family: $font-accent;
	font-weight: 700;
	@include plumber(
		$baseline: $accent-baseline,
		$font-size: 1.8
	);	
}


h3 {
	font-family: $font-accent;
	text-transform: uppercase;
	display: inline-block;        
	letter-spacing: 0.1rem;
	font-weight: 900;
	color: $type-light-grey;
	@include plumber(
		$baseline: $accent-baseline,
		$font-size: $size-h3
	);
}


h4 {
	font-family: $font-accent;
	text-transform: uppercase;
	letter-spacing: 0.09rem;
	font-weight: 900;
	@include plumber(
		$baseline: $accent-baseline,
		$font-size: 0.8,
		$leading-top: 3,    	
		$leading-bottom:1
	);	
}

h5 {
	font-family: $font-serif;
	color: $type-grey;
	@include plumber(
		$baseline: $serif-baseline,
		$font-size: 1.125
	);
}

// .clr-md-org {
// 	color: $med-orange;
// }


p {
	font-family: $font-serif;
	color: $type-grey;
	@include plumber(
		$baseline: $serif-baseline,
		$font-size: 1.1,
		$line-height: 2
	);
}

ul {
	font-family: $font-serif;
	color: $type-med-grey;
	@include plumber(
		$grid-height: 0.5rem,
		$baseline: $serif-baseline,
		$font-size: 1.9,
		$line-height: 3,
		$leading-top: 0
	);
}

ol li {
	font-family: $font-serif;
	font-weight: 600;
	@include plumber(
		$baseline: $serif-baseline,
		$font-size: 1.1,
		$leading-top:1
	);
}




