@include plumber-set-defaults(
    $grid-height: 1rem,
    $line-height: 2,
    $leading-top: 0,
    $leading-bottom: 0
);


h1, h2, h3, h4, h5, h6, p, nav, ul {
	color: $black;
}

a {
	font-family: $font-sans;
	font-weight: 500;
	color: $type-grey-light;
	@include plumber(
		$baseline: $sans-baseline,
		$font-size: 1.1,
		$leading-top: 1
	);
	@include transition(100ms);
}

a:hover {
	color: $blue-link;
}

p a {
	@extend p;
	text-decoration: underline;
	@include transition(100ms);
}


h1 a {
	@extend h1;
	text-decoration: underline;
	@include transition(100ms);
}

p a:hover, h1 a:hover {
	opacity: 0.6; 
}

h1 {
	color: $type-title-blue;
	font-family: $font-accent;
	font-weight: 400;
	color: $type-default;
		@include plumber(
			$baseline: $accent-baseline,
			$grid-height: 0.5rem,		
			$font-size: 4.5,
			$line-height: 7,
			$leading-top: 4
		);
	// @include for-tablet-landscape-up {
	// 	font-family: $font-accent;
	// 	// font-weight: 300;
	// 	// color: $type-dark-grey;
	// 	@include plumber(
	// 		$baseline: $accent-baseline,		
	// 		$grid-height: 0.5rem,
	// 		$font-size: 3.2,
	// 		$line-height: 6,
	// 		$leading-top: 5,
	// 		$leading-bottom: 16
	// 	);
	// }
	// @include for-tablet-portrait {
	// 	@include plumber(
	// 		$baseline: $accent-baseline,		
	// 		$grid-height: 0.5rem,
	// 		$font-size: 3,
	// 		$line-height: 5,
	// 		$leading-top: 5,
	// 		$leading-bottom: 10
	// 	);
	// }
	// @include for-phone-only {
	// 	z-index: 99;
	// 	@include plumber(
	// 		$baseline: $accent-baseline,		
	// 		$grid-height: 0.5rem,
	// 		$font-size: 3,
	// 		$line-height: 5,
	// 		$leading-top: 5,
	// 		$leading-bottom: 10
	// 	);
	// }	
}


h2 {
	color: $type-title-blue;
	font-family: $font-accent;
	font-weight: 600;
	@include for-tablet-landscape-up {
		@include plumber(
			$baseline: $accent-baseline,
			$font-size: 2.625,
			$leading-top: 8,
			$leading-bottom: 2,
			$line-height: 3
		);	
	}
	@include for-tablet-portrait {
		@include plumber(
			$baseline: $accent-baseline,
			$font-size: 2.25,
			$leading-top: 6,
			$leading-bottom: 2,
			$line-height: 3
		);	
	}
	@include for-phone-only {
		@include plumber(
			$baseline: $accent-baseline,
			$font-size: 2.25,
			$leading-top: 4,
			$leading-bottom: 2,
			$line-height: 3
		);	
	}
}


h3 {
	font-family: $font-sans;
	text-transform: uppercase;
	display: inline-block;        
	letter-spacing: 0.1rem;
	font-weight: 900;
	color: $yellow-text;
	@include for-tablet-landscape-up {
		@include plumber(
			$baseline: $sans-baseline,
			$font-size: 0.9,
			$line-height: 1
		);
	}
	@include for-tablet-portrait { 
		@include plumber(
			$baseline: $sans-baseline,
			$font-size: 0.8,
			$line-height: 1
		);
	}
	@include for-phone-only {
		@include plumber(
			$baseline: $sans-baseline,
			$font-size: 1,
			$line-height: 1
		);
	}

}

h3.tag {
	font-family: $font-accent;
	font-style: italic;
	color: $yellow-text;
	text-transform: none;
	@include plumber(
		$baseline: $accent-baseline,
		$font-size: 1.1,
		$line-height: 1
	);
	margin: 0 4px 0 6px;
}


h4 {
	font-family: $font-accent;
	font-weight: 900;
	@include for-tablet-landscape-up {
		@include plumber(
			$baseline: $accent-baseline,
			$font-size: 2.65,
			$leading-top: 3,    	
			$leading-bottom:2
		);	
	}
	@include for-tablet-portrait { 
		@include plumber(
			$baseline: $accent-baseline,
			$font-size: 2.25,
			$leading-top: 3,    	
			$leading-bottom:2
		);	
	}
	@include for-phone-only {
		@include plumber(
			$baseline: $accent-baseline,
			$font-size: 2.25,
			$leading-top: 3,    	
			$leading-bottom:1
		);	
	}
}

h5 {
	font-family: $font-accent;
	font-weight: 700;
	@include plumber(
		$baseline: $accent-baseline,
		$font-size: 1.75,
		$leading-top: 6,
		$leading-bottom: 4
	);
}

p {
	font-family: $font-serif;
	color: $type-default;
	@include plumber(
		$baseline: $serif-baseline,
		$font-size: 1.125,
		$line-height: 2,
		$leading-top: 1
	);
}

i {
	font-style: italic;
}

ul {
	@extend p;
}

ol li {
	font-family: $font-serif;
	font-weight: 700;
	@include plumber(
		$baseline: $serif-baseline,
		$font-size: 1.1,
		$leading-top:2
	);
}

ol p {
	@include plumber(
		$baseline: $serif-baseline,
		$font-size: 1.1,
		$line-height: 2,
		$leading-top: 0
	);
}




