@font-face {
  font-family: "SlimJoe";
  font-style: normal;
  font-weight: 300;
  src: url("fonts/SlimJoe.otf") format("opentype"); }
@font-face {
  font-family: "Paneuropa";
  font-style: normal;
  font-weight: 300;
  src: url("fonts/PaneuropaNeueRegular.otf") format("opentype"); }
.color--critiqueit {
  fill: #233f82;
  color: #233f82 !important; }

.color--dmond {
  fill: #a50f0f;
  color: #a50f0f !important; }

.color--dstyle {
  fill: #a3a3a3;
  color: #a3a3a3 !important; }

.color--dpass {
  fill: #d86b21;
  color: #d86b21 !important; }

.color--synapse {
  fill: #e22029;
  color: #e22029 !important; }

.color--hku {
  fill: #538441;
  color: #538441 !important; }

.color--sketchbook {
  fill: #e5ce21;
  color: #e5ce21 !important; }

.bg--critiqueit {
  background: rgba(67, 91, 149, 0.85); }

.bg--dmond {
  background-color: rgba(189, 42, 42, 0.85); }

.bg--dstyle {
  background-color: rgba(138, 138, 138, 0.85); }

.bg--dpass {
  background-color: rgba(191, 112, 58, 0.85); }

.bg--synpase {
  background-color: rgba(188, 70, 75, 0.85); }

.bg--hku {
  background-color: rgba(92, 112, 85, 0.85); }

.bg--sketchbook {
  background-color: rgba(192, 178, 70, 0.85); }

.--color-pinterest:hover {
  fill: #cb2027; }

.--color-instagram:hover {
  fill: #125688; }

.--color-twitter:hover {
  fill: #00aced; }

.--color-linkedin:hover {
  fill: #007bb5; }

.--color-mail:hover {
  fill: #e5ce21; }

@-webkit-keyframes fade-in {
  0% {
    background-color: rgba(11, 31, 42, 0); }
  30% {
    background-color: rgba(11, 31, 42, 0.1); }
  100% {
    background-color: #0b1f2a; } }
@-moz-keyframes fade-in {
  0% {
    background-color: rgba(11, 31, 42, 0); }
  30% {
    background-color: rgba(11, 31, 42, 0.1); }
  100% {
    background-color: #0b1f2a; } }
@-o-keyframes fade-in {
  0% {
    background-color: rgba(11, 31, 42, 0); }
  30% {
    background-color: rgba(11, 31, 42, 0.1); }
  100% {
    background-color: #0b1f2a; } }
@keyframes fade-in {
  0% {
    background-color: rgba(11, 31, 42, 0); }
  30% {
    background-color: rgba(11, 31, 42, 0.1); }
  100% {
    background-color: #0b1f2a; } }
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit; }

h1, h2, h3, h4, h5, h6 {
  font-style: none; }

/*
input, button, submit { 
	border:none;
	background: none; } 
*/
*:focus {
  outline: 0 !important; }

input:hover, button:hover, submit:hover, a:hover {
  cursor: pointer;
  cursor: hand; }

a {
  text-decoration: none; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1;
  background-color: #fdfdfd;
  overflow-x: hidden;
  height: auto; }

ol, ul {
  list-style: none; }

.fonts-loaded .text, .fonts-loaded .error--message {
  font-family: "Merriweather", "Lucida Bright", serif; }

.fonts-loaded .link, .fonts-loaded .link--active, .fonts-loaded .nav .link:hover, .nav .fonts-loaded .link:hover, .fonts-loaded .button, .fonts-loaded .project-description, .fonts-loaded .error--404, .fonts-loaded .text-copyright, .fonts-loaded .text.--caption, .fonts-loaded .--caption.error--message, .fonts-loaded .input {
  font-family: "Lato", "Lucida Grande", sans-serif; }

.fonts-loaded .intro__easteregg, .fonts-loaded .intro__position, .fonts-loaded .text-header.--project, .fonts-loaded .text.--intro, .fonts-loaded .--intro.error--message {
  font-family: "SlimJoe", "Avenir", sans-serif; }

.fonts-loaded .project-text__title, .fonts-loaded .project-title, .fonts-loaded .text-header, .fonts-loaded .error--title {
  font-family: "Paneuropa", "Avenir", sans-serif; }

b {
  font-weight: 700; }

i {
  font-style: italic; }

.text, .error--message {
  color: #262626;
  font-size: 1.1em;
  line-height: 170%; }

.text.--white, .--white.error--message, .text-header.--white {
  color: #c8c8c8; }

.--head .text.--body, .--head .--body.error--message {
  font-size: 1.2em; }

.text.--body, .--body.error--message {
  margin-bottom: 2%; }

.text.--copyright, .--copyright.error--message {
  font-family: "Lucida Grande", sans-serif;
  font-weight: 300;
  color: #868686;
  text-transform: uppercase;
  text-align: right;
  font-size: 0.75em; }

.text-header {
  font-size: 1.5em;
  line-height: 150%;
  letter-spacing: 0.13em;
  text-transform: uppercase;
  margin-bottom: 2%; }

.text-header.--project {
  font-size: 2.2em; }

.text-header.--page {
  text-align: center;
  width: 20%;
  padding-bottom: 2px;
  margin: auto;
  border-bottom: 1px solid #c8c8c8; }

.text-header.--section:before {
  content: '';
  display: block;
  width: 10%;
  margin-bottom: 2%;
  border-top: 1px solid #868686; }

.text.--caption, .--caption.error--message {
  color: #868686;
  font-size: 0.95em;
  margin-bottom: 1px; }

.project-text__title {
  font-family: "Avenir", sans-serif;
  letter-spacing: 0.05em;
  font-size: 3em; }

.project-text__type {
  font-family: "Lucida Grande", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #868686;
  font-size: 0.9em;
  margin: 5% 0; }

.project-title {
  font-family: "Avenir", sans-serif;
  color: #f5f5f5;
  letter-spacing: 0.05em;
  font-size: 1.5em; }

.project-description {
  font-family: "Lucida Grande", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #f5f5f5;
  font-size: 0.8em; }

.bullet {
  width: 22px;
  vertical-align: middle;
  margin-left: 5%;
  margin-right: 1.5%;
  margin-top: -3px; }

ol li {
  line-height: 230%; }

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .text, .error--message {
    font-size: 1em; }

  .text-header.--page {
    font-size: 1.9em; }

  .text-header.--project {
    font-size: 1.9em; }

  .text.--caption, .--caption.error--message {
    font-size: 0.85em; }

  .text-header {
    font-size: 1.5em; }

  .text.--copyright, .--copyright.error--message {
    font-size: 0.8em; }

  .bullet {
    width: 21px; }

  ol li {
    line-height: 220%; } }
@media screen and (min-width: 667px) and (max-width: 768px) {
  .text, .error--message {
    font-size: 1em; }

  .text-header.--page {
    font-size: 1.7em; }

  .text-header.--project {
    font-size: 1.7em; }

  .text.--caption, .--caption.error--message {
    font-size: 0.85em; }

  .text-header {
    font-size: 1.5em; }

  .text.--copyright, .--copyright.error--message {
    font-size: 0.8em; }

  .bullet {
    width: 20px; }

  ol li {
    line-height: 210%; } }
@media screen and (min-width: 486px) and (max-width: 667px) {
  .text, .error--message {
    font-size: 1em; }

  .text-header.--page {
    font-size: 1.5em; }

  .text-header.--project {
    font-size: 1.5em; }

  .--head .text.--body, .--head .--body.error--message {
    font-size: 1.1em; }

  .text.--caption, .--caption.error--message {
    font-size: 0.85em; }

  .text-header {
    font-size: 1.2em; }

  .text.--copyright, .--copyright.error--message {
    font-size: 0.75em; }

  .bullet {
    width: 18px; }

  ol li {
    line-height: 210%; } }
@media screen and (max-width: 486px) {
  .text, .error--message {
    font-size: 0.9em; }

  .--head .text.--body, .--head .--body.error--message {
    font-size: 1em; }

  .text-header.--page {
    font-size: 1.3em; }

  .text-header.--project {
    font-size: 1.2em; }

  .text.--caption, .--caption.error--message {
    font-size: 0.85em; }

  .text-header {
    font-size: 1.1em; }

  .text-header.--section:before {
    border: none; }

  .text-header.--section {
    width: 90%;
    margin-bottom: 5%; }

  .text-header.--section.--work {
    margin-left: 5%; }

  .text-header.--section::after {
    content: '';
    display: block;
    width: 90%;
    border-bottom: 1px solid #c8c8c8; }

  .text-header {
    font-size: 1.1em; }

  .text.--copyright, .--copyright.error--message {
    width: 80%;
    margin: auto;
    text-align: center;
    font-size: 0.75em; }

  .text-header.--page {
    width: 40%;
    margin: 5% 30%;
    border-bottom: 1px solid #c8c8c8; }

  .bullet {
    width: 15px; }

  ol li {
    line-height: 200%; } }
svg {
  -webkit-transition: 200ms;
  -moz-transition: 200ms;
  -ms-transition: 200ms;
  -o-transition: 200ms;
  transition: 200ms; }

.link, .link--active, .nav .link:hover, .button {
  -webkit-transition: 200ms;
  -moz-transition: 200ms;
  -ms-transition: 200ms;
  -o-transition: 200ms;
  transition: 200ms;
  font-family: "Lucida Grande", sans-serif;
  font-weight: 700;
  color: #0B1F2A;
  font-size: 0.9em;
  text-transform: uppercase;
  letter-spacing: 0.1em; }

.link--active, .nav .link:hover, .nav .link--active:hover, .nav .button:hover {
  padding-bottom: 8px;
  border-bottom: 2px solid #0B1F2A; }

.button.--about {
  width: 20%;
  margin: 2% 0 3% 45%; }

.link:hover, .link--active:hover, .nav .link:hover, .button:hover {
  color: #e5ce21; }

p .link, p .link--active, p .nav .link:hover, .nav p .link:hover, p .button {
  color: #c6b117; }

.link--inverse {
  color: #868686; }

.link--active--inverse {
  color: #868686;
  border-bottom: 2px solid #868686; }

.link--white {
  color: #f5f5f5; }

.link--active--white {
  color: #f5f5f5;
  border-bottom: 2px solid #f5f5f5; }

.button {
  background: none;
  border: 2px solid #0B1F2A;
  padding: 10px;
  color: #0B1F2A; }

.button:hover {
  cursor: pointer;
  border: 2px solid #e5ce21; }

@media screen and (min-width: 486px) and (max-width: 768px) {
  .button.--about {
    width: 30%;
    margin: 5% 35%; } }
@media screen and (max-width: 486px) {
  .link, .link--active, .nav .link:hover, .button {
    font-size: 0.9em; }

  .link:hover, .link--active:hover, .nav .link:hover, .button:hover, .link:hover svg, .link--active:hover svg, .nav .link:hover svg, .button:hover svg {
    color: #0B1F2A; }

  .button.--about {
    width: 60%;
    margin: 5% 20%; } }
.icon--next, .icon--next.--emp, .icon--next.--deemp, .icon--next.--down {
  width: 5%;
  height: 10px;
  margin-top: 4px; }

.icon--next.--emp {
  fill: #0B1F2A; }

.icon--next.--deemp {
  fill: #c8c8c8; }

.icon--next.--down {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%; }

@media screen and (max-width: 486px) {
  .icon--next, .icon--next.--emp, .icon--next.--deemp, .icon--next.--down {
    width: 10%;
    height: 10px;
    margin-top: 5px; } }
nav {
  position: fixed;
  top: 0;
  z-index: 98;
  width: 100%; }

.icon--menu {
  display: none; }

button.link.--menu, button.--menu.link--active, .nav button.--menu.link:hover, button.--menu.button {
  display: none; }

.nav {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  height: 88px;
  margin: auto;
  background: #0B1F2A;
  padding: 30px 3%;
  border-bottom: 1px solid #0B1F2A;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  -o-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -moz-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  -o-flex-wrap: nowrap;
  flex-wrap: nowrap; }

.nav__logo {
  width: 50px;
  margin-top: -10px; }

.nav__logo--fixed {
  width: 40px;
  margin-top: -8px;
  margin-left: 5px; }

.nav__link {
  margin: 0 1.5%;
  display: list-item; }

.nav__link:nth-child(2) {
  margin-left: auto; }

.nav .link--active:hover, .nav .link:hover, .nav .button:hover {
  color: #e5ce21;
  border-bottom: 2px solid #e5ce21; }

nav .nav.--inverse {
  background-color: rgba(255, 255, 255, 0.68);
  border-bottom: 1px solid #c8c8c8;
  margin-top: -15px;
  height: 68px; }

.nav__link:hover .container.--subnav {
  visibility: visible;
  opacity: 1;
  -moz-opacity: 1;
  filter: alpha(opacity=10); }

.container.--subnav {
  z-index: 99;
  position: absolute;
  -webkit-transition: 200ms;
  -moz-transition: 200ms;
  -ms-transition: 200ms;
  -o-transition: 200ms;
  transition: 200ms;
  padding: 5px 0;
  margin-left: -85px;
  visibility: hidden;
  opacity: 0;
  -moz-opacity: 0;
  filter: alpha(opacity=0); }

.subnav-item {
  position: relative;
  background: rgba(253, 253, 253, 0.9);
  width: 100%;
  padding: 8px;
  text-align: right; }

.link.--subnav, .--subnav.link--active, .nav .--subnav.link:hover, .--subnav.button {
  font-weight: 400;
  color: #868686;
  font-size: 0.8em; }

.link.--subnav:hover, .--subnav.link--active:hover, .--subnav.button:hover {
  color: #e5ce21 !important;
  border: none; }

@media screen and (max-width: 486px) {
  nav {
    position: relative;
    width: 100%; }

  .link.--menu, .--menu.link--active, .nav .--menu.link:hover, .--menu.button {
    display: initial;
    border: none;
    background: none;
    width: 5%;
    margin-left: 85%;
    margin-top: 3%; }

  .icon--menu, .icon--close {
    display: initial;
    fill: #868686;
    width: 25px;
    height: 25px; }

  .nav {
    width: 100%;
    height: auto;
    margin: 0;
    background: none;
    padding: 0;
    border: none;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -moz-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    -o-flex-wrap: nowrap;
    flex-wrap: nowrap; }

  .nav__logo {
    width: 17%;
    margin: 2% auto;
    -webkit-box-ordinal-group: 4;
    -moz-box-ordinal-group: 4;
    -ms-flex-order: 4;
    -webkit-order: 4;
    order: 4; }

  .nav__link {
    width: 100%;
    background: #c8c8c8;
    border: none;
    text-align: center;
    margin: 0 !important;
    padding: 3% 0;
    display: none; } }
body {
  background: #fdfdfd; }

.--fade-in {
  -webkit-animation: fade-in 800ms;
  -moz-animation: fade-in 800ms;
  -ms-animation: fade-in 800ms;
  -o-animation: fade-in 800ms;
  animation: fade-in 800ms; }

.home {
  background: #0B1F2A; }

.intro {
  height: 90vh;
  min-height: 468px; }

.home.--inverse {
  background: #fdfdfd; }

.content.--intro {
  text-align: center;
  padding: 8% 0 10% 0;
  width: 100%;
  background: url("../images/intro__bg.svg") no-repeat center;
  background-size: 101%; }

.intro__name {
  display: block;
  fill: #f5f5f5;
  width: 15%;
  margin: 4% auto 2% auto;
  height: 40px;
  min-width: 248px; }

.intro__name--inverse {
  display: block;
  width: 15%;
  margin: 4% auto 2% auto;
  height: 40px;
  min-width: 248px;
  fill: #868686; }

.intro__position.--inverse {
  color: #0B1F2A; }

.intro__easteregg {
  font-family: "Avenir", sans-serif;
  text-transform: uppercase;
  color: #868686;
  font-size: .7em;
  letter-spacing: .1em;
  display: inherit; }

.intro__position {
  font-family: "Avenir", sans-serif;
  text-transform: uppercase;
  color: #f5f5f5;
  font-size: 1.24em;
  letter-spacing: 0.3em;
  margin-left: 0.4em;
  margin-bottom: 25vh; }

.text.--intro, .--intro.error--message {
  font-family: "Avenir", sans-serif;
  text-transform: uppercase;
  color: #c8c8c8;
  font-size: 1em;
  letter-spacing: 0.1em;
  margin-left: 0.15em; }

@media screen and (max-width: 486px) {
  .intro {
    height: auto;
    background: #f1f1f1;
    margin-bottom: 0;
    min-height: initial; }

  .content.--intro {
    padding: 0 !important;
    width: 80%;
    margin: auto;
    background: none; }

  .intro__name {
    width: 80%;
    min-width: initial;
    margin: 2% 10%;
    fill: #262626; }

  .intro__easteregg {
    display: none; }

  .text.--intro, .--intro.error--message {
    display: none; }

  .intro__position {
    color: #262626;
    margin-left: 0.2em;
    font-size: 0.95em;
    margin-bottom: 15%; } }
.content--project-list {
  margin: 3% 0; }

.section .project-container {
  margin-top: 2%;
  width: 100% !important; }

.project-container {
  overflow: hidden;
  width: 75%;
  margin: 0 auto; }

.project-container.--mini {
  margin: 7% 0; }

.project-item {
  position: relative;
  float: left;
  overflow: hidden;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%; }

.project-item * {
  position: absolute;
  visibility: visible; }

.project-item-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%; }

.project-description, .project-title, .project__bar, .thumb {
  -webkit-transition: 250ms;
  -moz-transition: 250ms;
  -ms-transition: 250ms;
  -o-transition: 250ms;
  transition: 250ms; }

/* HEX CONTENT */
.thumb {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  -webkit-clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
  -moz-clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
  -ms-clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
  -o-clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
  clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%); }

.project__bar {
  width: 30%;
  border-bottom: 0px solid;
  margin-left: 10%;
  padding-top: 35%;
  opacity: 0;
  -moz-opacity: 0;
  filter: alpha(opacity=0);
  z-index: 99; }

.project-title {
  font-family: "Avenir", sans-serif;
  color: #f5f5f5;
  position: absolute;
  width: 100%;
  height: 100%;
  padding-left: 10%;
  font-size: 2em;
  letter-spacing: 0.07em;
  padding-top: 43%;
  opacity: 0;
  -moz-opacity: 0;
  filter: alpha(opacity=0); }

.project-description {
  font-family: "Avenir", sans-serif;
  padding-top: 40%;
  padding-left: 10%;
  z-index: 99;
  opacity: 0;
  -moz-opacity: 0;
  filter: alpha(opacity=0); }

.project-item-container:hover .project-description {
  padding-top: 45%;
  opacity: 0.9;
  -moz-opacity: 0.9;
  filter: alpha(opacity=9); }

.project-item-container:hover .project-title {
  background: #0b1f2a;
  padding-top: 53%;
  opacity: 0.9;
  -moz-opacity: 0.9;
  filter: alpha(opacity=9); }

.project-item-container:hover .project__bar {
  border-bottom: 7px solid;
  opacity: 1;
  -moz-opacity: 1;
  filter: alpha(opacity=10); }

.project-item-container:hover .thumb {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2); }

.project-thumb-logo {
  width: 65%;
  height: 15%;
  fill: #f5f5f5; }

@media screen and (min-width: 1180px) {
  .project-container {
    width: 70%;
    padding-bottom: 6.365%; } }
@media screen and (min-width: 900px) and (max-width: 1180px) {
  .project-container {
    width: 80%;
    padding-bottom: 6.365%; } }
@media screen and (min-width: 768px) and (max-width: 900px) {
  .project-container {
    width: 90%;
    padding-bottom: 6.365%; } }
@media screen and (min-width: 768px) {
  .project-item {
    width: 25%;
    padding-bottom: 25%;
    margin-left: 12.391%;
    margin-bottom: -6.365%; }

  .project-item:nth-child(5n+1) {
    margin-left: 18.621% !important; }

  .project-item:nth-child(5n+3) {
    margin-left: 0%; } }
@media screen and (max-width: 767px) and (min-width: 486px) {
  .project-container {
    width: 75%;
    padding-bottom: 10.123%; }

  .project-item {
    width: 39.907%;
    padding-bottom: 39.907%;
    margin-left: 19.69%;
    margin-bottom: -10.123%; }

  .project-item:nth-child(3n+3) {
    margin-left: 29.723%; }

  .project-item:nth-child(3n+1) {
    margin-left: 0%; } }
@media screen and (max-width: 568px) and (min-width: 486px) {
  .project-container {
    width: 90%;
    margin-left: 5%;
    padding-bottom: 10.123%; } }
@media screen and (max-width: 486px) {
  .content--project-list {
    width: 100%;
    margin: 5% auto; }

  .project-container {
    width: 100%; }

  .project-item {
    width: 100%;
    padding-bottom: 50%;
    margin-bottom: 2%;
    transform: rotate(0deg); }

  .project-item-container {
    height: 100%;
    transform: rotate(0deg);
    padding-bottom: -20%; }

  .thumb {
    width: 100%;
    height: 200%;
    margin: -25% auto !important;
    -webkit-clip-path: none;
    -moz-clip-path: none;
    -ms-clip-path: none;
    -o-clip-path: none;
    clip-path: none; }

  .project-title {
    position: relative;
    width: 100%;
    height: 45px;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    padding: 0 0 20% 0;
    background: rgba(11, 31, 42, 0.7);
    opacity: 1;
    -moz-opacity: 1;
    filter: alpha(opacity=10); }

  .project__bar {
    display: none; }

  .project-description {
    position: relative;
    text-align: center;
    padding: 15% 0 5% 0;
    width: 100%;
    background-color: rgba(11, 31, 42, 0.7);
    z-index: 90;
    margin-top: 0;
    opacity: 1;
    -moz-opacity: 1;
    filter: alpha(opacity=10); }

  .project-thumb-logo {
    width: 50%;
    height: 100%;
    margin-left: 25%;
    margin-top: -10%;
    z-index: 99; }

  .project-item-container:hover .project-description {
    padding-top: 15%;
    opacity: 1;
    -moz-opacity: 1;
    filter: alpha(opacity=10); }

  .project-item-container:hover .project-title {
    background: rgba(11, 31, 42, 0.7);
    padding-top: 0;
    opacity: 1;
    -moz-opacity: 1;
    filter: alpha(opacity=10); } }
.three {
  width: 30%; }

.four {
  width: 40%; }

.five {
  width: 50%; }

.five-five {
  width: 55%; }

.six {
  width: 60%; }

.seven {
  width: 70%; }

.seven-five {
  width: 75%; }

.bg--grey {
  background: #f1f1f1; }

.--space-above {
  margin-top: 5%; }

.--space-below {
  margin-bottom: 5%; }

.--hidden {
  display: none; }

.image.--border {
  border: 1px solid #c8c8c8; }

.--nudge {
  margin-left: 20%;
  margin-bottom: 3%; }

.--align-center {
  -webkit-align-self: center;
  -moz-align-self: center;
  -ms-align-self: center;
  align-self: center; }

.container.--flex {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  -o-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
  justify-content: space-between; }

.content {
  margin-top: 88px; }

.section.--separation:before {
  content: '';
  display: block;
  width: 60%;
  margin-left: 20%;
  border-top: 1px solid #c8c8c8;
  padding-bottom: 4%; }

.project-cover {
  width: 100%;
  margin-bottom: -3px; }

.project-cover.--dmod {
  margin-left: -10%; }

.section.--overview {
  padding: 2% 0; }

.section.--text {
  width: 60%;
  padding: 2% 20% 1% 20%; }

.section.--tall {
  padding-top: 7%;
  padding-bottom: 5%; }

.section.--head {
  padding: 5% 0 0 10%; }

.section.--work {
  width: 60%;
  margin: 3% auto; }

.--flex.--overview {
  width: 90%;
  margin: 2% 5%; }

.--flex.--prototype {
  margin: 3% 0; }

.image {
  height: 5%; }

.image.--overview {
  width: 55%; }

.image.--prototype {
  width: 45%; }

.image.--persona {
  width: 30%; }

.container.--image {
  width: 100%;
  overflow-y: hidden;
  overflow-x: scroll; }

.image.--sketch {
  margin-top: 3%;
  width: 100%; }

.image.--sketch.--large {
  width: 190%; }

.image.--sketch:hover {
  cursor: pointer; }

.container.--video {
  width: 55%;
  position: relative;
  padding-bottom: 30.9375%;
  padding-top: 30px;
  height: 0; }

.container.--video iframe, .container.--video object, .container.--video embed {
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%; }

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .--align-center {
    -webkit-align-self: initial;
    -moz-align-self: initial;
    -ms-align-self: initial;
    align-self: initial; }

  .section.--text {
    width: 80%;
    padding: 2% 10% 1% 10%; }

  .section.--work {
    width: 80%;
    margin: 3% auto; }

  .head-cover {
    -webkit-align-self: flex-end;
    -moz-align-self: flex-end;
    -ms-align-self: flex-end;
    align-self: flex-end; } }
@media screen and (min-width: 667px) and (max-width: 768px) {
  .--space-above {
    margin-top: 3%; }

  .--space-below {
    margin-bottom: 3%; }

  .--nudge {
    margin: 0; }

  .--m-second {
    -webkit-box-ordinal-group: 2;
    -moz-box-ordinal-group: 2;
    -ms-flex-order: 2;
    -webkit-order: 2;
    order: 2; }

  .--align-center {
    -webkit-align-self: initial;
    -moz-align-self: initial;
    -ms-align-self: initial;
    align-self: initial; }

  .--flex.--overview {
    width: 100%;
    padding: 5% 0;
    margin: 0; }

  .--flex.--prototype {
    padding: 5% 0; }

  .section.--head {
    padding: 0;
    margin: 5% 0 0 0; }

  .head-cover {
    width: 100%;
    margin-bottom: -3px; }

  .project-cover {
    width: 60%;
    margin: 10% 20% 0 20% !important; }

  .project-cover.--right {
    width: 70%;
    margin-left: 30% !important; }

  .head-text {
    -webkit-box-ordinal-group: 2;
    -moz-box-ordinal-group: 2;
    -ms-flex-order: 2;
    -webkit-order: 2;
    order: 2;
    background-color: #fdfdfd;
    width: 80%;
    padding: 5% 10%; }

  .section.--text, .section.--overview {
    width: 80%;
    padding: 2% 10%; }

  .overview-text {
    width: 100%;
    margin-top: 15px; }

  .image.--persona {
    width: 40%;
    margin-left: 30%;
    margin-bottom: 5%; }

  .image.--overview {
    width: 100%; }

  .image.--prototype {
    width: 100%; }

  .image.--sketch.--large {
    width: 280%; }

  .container.--video {
    width: 100%;
    padding-bottom: 56.25%; }

  .section.--work {
    width: 80%;
    margin-left: 10%; } }
@media screen and (min-width: 486px) and (max-width: 667px) {
  .--space-above {
    margin-top: 3%; }

  .--space-below {
    margin-bottom: 3%; }

  .--nudge {
    margin: 0; }

  .--m-second {
    -webkit-box-ordinal-group: 2;
    -moz-box-ordinal-group: 2;
    -ms-flex-order: 2;
    -webkit-order: 2;
    order: 2; }

  .--align-center {
    -webkit-align-self: initial;
    -moz-align-self: initial;
    -ms-align-self: initial;
    align-self: initial; }

  .container.--flex.--t-stack, .--flex.--overview, .--flex.--prototype {
    width: 100%;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column; }

  .--flex.--overview {
    padding: 5% 0;
    margin: 0; }

  .--flex.--prototype {
    padding: 5% 0; }

  .section.--head {
    padding: 0;
    margin: 5% 0 0 0; }

  .head-cover {
    width: 100%;
    margin-bottom: -3px; }

  .project-cover {
    width: 80%;
    margin: 15% 10% 0 10% !important; }

  .project-cover.--right {
    width: 80%;
    margin-left: 20% !important; }

  .head-text {
    -webkit-box-ordinal-group: 2;
    -moz-box-ordinal-group: 2;
    -ms-flex-order: 2;
    -webkit-order: 2;
    order: 2;
    background-color: #fdfdfd;
    width: 80%;
    padding: 5% 10%; }

  .section.--text, .section.--overview {
    width: 80%;
    padding: 3% 0 3% 10%; }

  .overview-text {
    width: 100%;
    margin-top: 15px; }

  .image.--persona {
    width: 40%;
    margin-left: 30%;
    margin-bottom: 5%; }

  .image.--overview {
    width: 100%; }

  .image.--prototype {
    width: 100%; }

  .image.--sketch.--large {
    width: 280%; }

  .container.--video {
    width: 100%;
    padding-bottom: 56.25%; }

  .section.--work {
    width: 80%;
    margin-left: 10%; } }
@media screen and (max-width: 486px) {
  body {
    background-color: #f1f1f1;
    border: 12px solid #fdfdfd; }

  .--space-above {
    padding-top: 5%;
    margin: 0; }

  .--space-below {
    padding-bottom: 5%;
    margin: 0; }

  .--nudge {
    margin: 0 0 5% 5%; }

  .--m-center {
    text-align: center; }

  .--m-second {
    -webkit-box-ordinal-group: 2;
    -moz-box-ordinal-group: 2;
    -ms-flex-order: 2;
    -webkit-order: 2;
    order: 2; }

  .--align-center {
    -webkit-align-self: initial;
    -moz-align-self: initial;
    -ms-align-self: initial;
    align-self: initial; }

  .container.--flex.--m-stack, .--flex.--prototype, .--flex.--overview, .--flex.--sb-row, .--flex.--renders, .--flex.--resume {
    width: 100%;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column; }

  .--flex.--prototype {
    padding: 5% 0; }

  .content {
    margin-top: 10px; }

  .head-cover {
    background: #f5f5f5;
    width: 100%;
    margin-bottom: -3px; }

  .project-cover {
    width: 90%;
    margin: 0 5% !important; }

  .project-cover.--right {
    width: 90%;
    margin-left: 10% !important; }

  .head-text {
    -webkit-box-ordinal-group: 2;
    -moz-box-ordinal-group: 2;
    -ms-flex-order: 2;
    -webkit-order: 2;
    order: 2;
    background: #fdfdfd;
    width: 90%;
    padding: 10% 5%; }

  .section.--separation:before {
    border: none; }

  .section.--head {
    padding: 0;
    margin: 5% 0 0 0; }

  .section.--overview {
    background: #fdfdfd; }

  .section.--text {
    width: 90%;
    padding: 5% 0 5% 5%; }

  .section.--work {
    width: 100%; }

  .--flex.--overview {
    padding: 2% 5%;
    margin: 0; }

  .image.--overview, .image.--prototype {
    width: 90%; }

  .image.--persona {
    width: 50%;
    margin-left: 25%; }

  .image.--sketch.--large {
    width: 300%; }

  .overview-text {
    width: 90%;
    margin-top: 15px; }

  .container.--video {
    width: 90%;
    padding-bottom: 50.625%; }

  .container.--video:after {
    padding-bottom: 15px; } }
.image.--sb {
  object-fit: contain; }

.--sb-row {
  margin: 8% 0; }

.section.--head.--sketchbook {
  padding: 8% 0 6% 0; }

.section.--sketchbook {
  padding: 0 10% 10% 10%; }

.text.--sketchbook, .--sketchbook.error--message, .text-header.--sketchbook {
  text-align: center; }

#pretty {
  width: 35%;
  margin-left: 28%; }

#nadia, #dock, #stephgabe {
  width: 53%; }

#ducks, #road {
  width: 42%; }

#road {
  margin-top: -16%; }

#dragon {
  width: 30%;
  margin-top: -5%;
  margin-right: 3%; }

#tiffany, #attic {
  width: 42%; }

.container.--flex.--renders {
  -webkit-justify-content: space-around;
  -moz-justify-content: space-around;
  -ms-justify-content: space-around;
  -o-justify-content: space-around;
  justify-content: space-around; }

@media screen and (min-width: 486px) and (max-width: 768px) {
  .section.--sketchbook {
    padding: 0 5% 10% 5%; } }
@media screen and (max-width: 486px) {
  .section.--sketchbook {
    padding: 0 0 10% 0; }

  #pretty {
    width: 70%;
    margin: 5% 15%; }

  #nadia, #ducks, #road, #tiffany, #attic {
    width: 90%;
    margin: 5%; }

  #dock, #stephgabe {
    width: 100%;
    margin: 5% 0; }

  #dragon {
    width: 50%;
    margin: 5% 25%; } }
.content.--resume {
  margin: 88px auto 0 auto;
  padding: 5% 0;
  width: 65%; }

.resume__icon {
  fill: #c8c8c8;
  width: 25px;
  height: 30px;
  margin-right: 3%;
  margin-top: -5px;
  vertical-align: middle; }

.--flex.--resume {
  -webkit-flex-wrap: nowrap;
  -moz-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  -o-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-align-self: flex-start;
  -moz-align-self: flex-start;
  -ms-align-self: flex-start;
  align-self: flex-start;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
  justify-content: space-between;
  margin-bottom: 4%; }

.text.--body.--resume, .--body.--resume.error--message {
  margin-left: 7%; }

.container.--date {
  margin-left: 7%;
  width: 15%;
  margin-bottom: 0; }

.text.--body.--date, .--body.--date.error--message {
  font-size: 1em;
  font-variant: small-caps;
  color: #868686; }

.container.--description {
  width: 80%;
  margin-bottom: 0; }

.text.--body.--description, .--body.--description.error--message {
  font-size: 1.3em;
  margin-bottom: 0; }

.text-header.--resume {
  margin: 3% 0 2% 0; }

@media screen and (min-width: 486px) and (max-width: 768px) {
  .--flex.--resume {
    margin-bottom: 5%; }

  .content.--resume {
    margin: 88px auto 0 auto;
    width: 75%; }

  .text.--body.--description, .--body.--description.error--message {
    font-size: 1em; }

  .text.--body.--date, .--body.--date.error--message {
    font-size: 0.8em;
    margin: 0; }

  .container.--description {
    width: 65%;
    margin: 0; }

  .container.--date {
    width: 20%;
    margin: 0 0 0 10%; }

  .text.--body.--description .link, .--body.--description.error--message .link, .text.--body.--description .link--active, .--body.--description.error--message .link--active, .text.--body.--description .button, .--body.--description.error--message .button {
    display: block; } }
@media screen and (max-width: 486px) {
  .content.--resume {
    width: 90%;
    margin: 0 5%; }

  .--flex.--resume {
    margin-bottom: 8%; }

  .container.--date, .container.--description {
    width: 100%;
    margin: 0; }

  .text-header.--resume {
    margin: 10% 0 3% 0; }

  .text.--body.--description, .--body.--description.error--message {
    font-size: 0.9em; }

  .text.--body.--description .link, .--body.--description.error--message .link, .text.--body.--description .link--active, .--body.--description.error--message .link--active, .text.--body.--description .button, .--body.--description.error--message .button {
    display: block; }

  .resume__icon {
    display: none; }

  .text.--body.--date, .--body.--date.error--message {
    font-size: 0.8em;
    margin: 0;
    display: inline-block;
    white-space: pre; } }
.content.--about {
  margin-top: 88px; }

.image.--about {
  width: 60%;
  margin: 3% 20%; }

.section.--about {
  margin: 3% 0; }

.input {
  font-family: "Lucida Grande", sans-serif;
  font-size: 1.1em;
  display: block;
  color: #262626;
  border: 2px solid #0B1F2A;
  margin: 1% auto;
  padding: 10px;
  width: 60%; }

.container.--input {
  margin: 1% auto; }

.input.--name {
  display: inline-block;
  width: 28.5%;
  margin: 0; }

.input.--name:nth-child(1) {
  margin-left: 19.1%;
  margin-right: 0.7%; }

.text.--error, .--error.error--message {
  margin-left: 35%;
  color: #b70404; }

.text.--thanks, .--thanks.error--message {
  text-align: center;
  margin-bottom: 2%; }

@media screen and (min-width: 486px) and (max-width: 768px) {
  .image.--about {
    width: 100%;
    margin: 0; }

  .input {
    font-size: 1em;
    width: 80%; }

  .input.--name {
    display: inline-block;
    width: 37%;
    margin: 0; }

  .input.--name:nth-child(1) {
    margin-left: 8%;
    margin-right: 0.5%; } }
@media screen and (max-width: 486px) {
  .content.--about {
    margin-top: 0; }

  .image.--about {
    width: 100%;
    margin: 5% 0 0 0%; }

  .input {
    font-size: 0.9em;
    width: 80%; }

  .container.--input {
    margin: 1% auto; }

  .input.--name {
    display: inline-block;
    width: 35%;
    margin: 0; }

  .input.--name:nth-child(1) {
    margin-left: 6%;
    margin-right: 0.5%; }

  .text.--error, .--error.error--message {
    margin-left: 10%;
    width: 80%; } }
.error-container {
  padding: 20% 0 15% 0; }

.error--404 {
  font-weight: 300;
  font-family: "Lucida Grande", sans-serif;
  font-size: 8em; }

.error--title {
  font-family: "Avenir", sans-serif;
  text-transform: uppercase;
  font-size: 3em; }

.error--message {
  margin: 3% 0; }

@media screen and (min-width: 768px) {
  .error-container {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    -o-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    justify-content: center; }

  .error--404 {
    margin-bottom: 20%; }

  .error-container div:nth-child(2) {
    margin-left: 8%; } }
@media screen and (min-width: 468px) and (max-width: 768px) {
  .error-container {
    width: 70%;
    margin: auto;
    padding: 25% 0 15% 0; }

  .error--404 {
    font-size: 6.8em;
    margin-bottom: 10%; }

  .error--title {
    font-size: 3em; } }
@media screen and (max-width: 468px) {
  .error-container {
    width: 70%;
    margin: auto;
    padding: 35% 0 25% 0; }

  .error--404 {
    font-size: 5em;
    margin-bottom: 10%; }

  .error--title {
    font-size: 2em; }

  .error--message {
    margin: 10% 0; } }
footer {
  width: 100%;
  padding: 2% 0;
  border-top: 1px solid #c8c8c8; }

.container.--footer {
  width: 96%;
  margin: auto; }

.container.--social-link {
  margin-bottom: 1%;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  -o-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -moz-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  -o-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: flex-end;
  -moz-justify-content: flex-end;
  -ms-justify-content: flex-end;
  -o-justify-content: flex-end;
  justify-content: flex-end; }

.link--social {
  width: 35px;
  display: inline-block; }

.icon--social-link {
  -webkit-transition: 150ms;
  -moz-transition: 150ms;
  -ms-transition: 150ms;
  -o-transition: 150ms;
  transition: 150ms;
  width: 35px;
  height: 20px;
  fill: #868686;
  z-index: 99; }

@media screen and (max-width: 486px) {
  footer {
    position: relative;
    background: #fdfdfd;
    padding: 1% 0;
    border: none; }

  .footer.--container {
    width: 50%;
    margin: 3% auto 0 auto; }

  .container.--social-link {
    width: 50%;
    margin: 3% auto;
    -webkit-justify-content: space-around;
    -moz-justify-content: space-around;
    -ms-justify-content: space-around;
    -o-justify-content: space-around;
    justify-content: space-around; } }

/*# sourceMappingURL=main.css.map */
