//Baselines
$sans-baseline: 0.143;
$serif-baseline: 0.149;

//Spacing
$space-xsmall: 5px;
$space-small: 10px;
$space-medium: 25px;
$space-large: 50px;
$space-xlarge: 100px;

$radius: 12px;

//Font stacks
$font-serif: 'DM Serif Display', serif;
$font-sans: 'SF Pro Text', 'San Francisco Text', -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, Arial, sans-serif;

//Typography Colors
$black: #000000;
$white: #FFFFFF;
$type-default: #000000;
$type-title-blue: #0B1426;
$type-grey-light: #95999E;

//Yellows
$yellow-bold: #E9D18F;
$yellow-text: #AEA488;

//Blues
$blue-light: #E4EEF4;
$blue-shadow: #00152B;
$blue-box: #AEC3D9;
$blue-bg: #EBF4FA;
$blue-bg-light: #F0F6FA;
$blue-link: #0E5DE9;

//Project Colors
$color-canopy: #FD7E00;
$color-ab: #15E7A5;
$color-dstyle: #FF6EB7;

