//Baselines
$sans-baseline: 0.183;
$serif-baseline: 0.129;
$accent-baseline: 0.186;

//Font stacks
$font-accent: 'Cormorant Garamond', serif;
$font-serif: 'PT Serif', sans-serif;
$font-sans: 'Avenir', sans-serif;

//Loaded Fonts Stack
$font-accent-loaded: 'Avenir', serif;
$font-serif-loaded: 'PT Serif', sans-serif;
$font-sans-loaded: 'Nimbus Sans', sans-serif;

//Typography Colors
$black: #212429;
$white: #FFFFFF;
$type-default: #3F464D;
$type-title-blue: #0B1426;
$type-grey-light: #979DA8;

//Yellows
$yellow-bold: #E9D18F;
$yellow-text: #AEA488;

//Blues
$blue-light: #E4EEF4;
$blue-shadow: #193655;
$blue-box: #AEC3D9;
$blue-bg: #EBF4FA;
$blue-bg-light: #F0F6FA;
$blue-link: #1A8DAF;

//Project Colors
$color-canopy: #FD7E00;
$color-ab: #15E7A5;
$color-dstyle: #FF6EB7;

