//Baselines
$sans-baseline: 0.333;
$serif-baseline: 0.129;
$accent-baseline: 0.183;

//Font stacks
$font-accent: 'Avenir', serif;
$font-serif: 'PT Serif', sans-serif;
$font-sans: 'Nimbus Sans', sans-serif;

//Loaded Fonts Stack
$font-accent-loaded: 'Avenir', serif;
$font-serif-loaded: 'PT Serif', sans-serif;
$font-sans-loaded: 'Nimbus Sans', sans-serif;

//Typography Colors
$black: #212429;
$type-grey: #626468;
$type-lightgrey: #A7AAB2;
$white: #FFFFFF;

//Accent Colors
$light-orange: #FAF5F3;
$orange-2: #EED1B2;
$med-orange: #E6A18A;
$dark-orange: #E96B40;

//Project Colors
$color-canopy: #FAFCFC;
$color-ab: #1F1F28;
$color-disney: #F8CD0E;
$color-fablab: #3E70E6;

