//About page header
header.about {
	margin: 4rem auto;
}

header.about h3 {
	@include for-phone-only {
		display: none;
	}
}

header.about h1 {
	@include plumber(
		$baseline: $serif-baseline,
		$font-size: 1.6,
		$line-height: 3,
		$leading-top: 2
	);
}

header.about p {
	font-family: $font-sans;
	font-weight: 300;
	color: $type-grey;
	@include plumber(
		$grid-height: 0.5rem,
		$baseline: $sans-baseline,
		$font-size: 3,
		$line-height: 4,
		$leading-top: 2,
		$leading-bottom: 16
	);
}

header.about img {
	width: 100%;
}

.about__link {
	display: block;
	font-weight: 700;
	@include for-tablet-portrait-up {
		@include plumber(		
			$baseline: $accent-baseline,
			$grid-height: 0.5rem,
	    	$line-height: 4,
			$font-size: 2
		);
	}
	@include for-phone-only {
		@include plumber(		
			$baseline: $accent-baseline,
			$grid-height: 0.5rem,
	    	$line-height: 4,
			$font-size: $size-nav-mobile*2
		);
	}
	// display: block;
	// @include plumber(		
	// 	$baseline: $accent-baseline,
	// 	$grid-height: 0.5rem,
 //    	$line-height: 3,
	// 	$font-size: 2
	// );
}

.about__body div:last-child {
	margin-bottom: 16px;
}