footer {
	background-color: $light-orange;
	padding-bottom: 32px;
}

footer h2{
	@include plumber(
		$baseline: $accent-baseline,
		$grid-height: 0.5rem,
		$font-size: 3,
		$leading-top: 5,	
		$leading-bottom: 3	
	);
}

footer h4{
	color: $type-grey;
	@include plumber(
		$baseline: $accent-baseline,
		$grid-height: 0.5rem,
		$font-size: 2,
		$leading-top: 5,	
		$leading-bottom: 3	
	);
}

footer p {
	font-family: $font-sans;
	color: $type-grey;
	@include plumber(		
		$baseline: $sans-baseline,
		$grid-height: 0.5rem,
    	$line-height: 3,
		$font-size: 2,
		$leading-top: 1
	);
}

footer a {
	display: block;
	@include plumber(		
		$baseline: $accent-baseline,
		$grid-height: 0.5rem,
    	$line-height: 3,
		$font-size: 2
	);
}

.footer__biolink {
	@include plumber(		
		$baseline: $accent-baseline,
		$grid-height: 0.5rem,
		$font-size: 2,
		$leading-top: 2
	);
}

footer .copyright {
	font-weight: 100;
	@include plumber(		
		$baseline: $sans-baseline,
		$grid-height: 0.5rem,
		$font-size: 1.8,
		$leading-top: 6
	);
}
