footer.project {
	@include gradient-bg(-75deg, $white, $blue-bg);
	clip-path: polygon(0% 100%, 100% 100%, 100% 0%, 0% 12%);	
}
footer {
	padding: 2rem 0;
}

// footer h2{
// 	@include plumber(
// 		$baseline: $accent-baseline,
// 		$font-size: 1.8
// 	);
	// @include plumber(
	// 	$baseline: $accent-baseline,
	// 	$grid-height: 0.5rem,
	// 	$font-size: 3,
	// 	$line-height: 4,
	// 	$leading-top: 5,	
	// 	$leading-bottom: 3	
	// );
// }

footer p {
	margin-bottom: 2rem;
}

// footer h4{
// 	color: $black;
// 	@include for-tablet-portrait-up {
// 		@include plumber(
// 			$baseline: $accent-baseline,
// 			$grid-height: 0.5rem,
// 			$font-size: $size-h4-2x,
// 			$leading-top: 5,	
// 			$leading-bottom: 3	
// 		);
// 	}
// 	@include for-phone-only {
// 		@include plumber(
// 			$baseline: $accent-baseline,
// 			$grid-height: 0.5rem,
// 			$font-size: $size-h4-2x-mobile,
// 			$leading-top: 5,	
// 			$leading-bottom: 3	
// 		);
// 	}
// }

// footer h3 {
// 	color: $type-dark-grey;
// }

// footer p {
// 	color: $type-grey;
// 	@include for-tablet-portrait-up {
// 		@include plumber(		
// 			$baseline: $serif-baseline,
// 			$grid-height: 0.5rem,
// 	    	$line-height: 3,
// 			$font-size: 2,
// 			$leading-top: 1
// 		);
// 	}
// 	@include for-phone-only {
// 		@include plumber(		
// 			$baseline: $serif-baseline,
// 			$grid-height: 0.5rem,
// 	    	$line-height: 4,
// 			$font-size: 2.5,
// 			$leading-top: 1
// 		);		
// 	}
// }

footer a {
	display: block;
	font-weight: 700;
	@include for-tablet-portrait-up {
		@include plumber(		
			$baseline: $accent-baseline,
			$grid-height: 0.5rem,
	    	$line-height: 4,
			$font-size: 2
		);
	}
	@include for-phone-only {
		@include plumber(		
			$baseline: $accent-baseline,
			$grid-height: 0.5rem,
	    	$line-height: 4,
			$font-size: $size-nav-mobile*2
		);
	}
}

.footer__biolink {
	@include for-tablet-portrait-up {
		@include plumber(		
			$baseline: $sans-baseline,
			$font-size: 1
		);		
	}
	@include for-phone-only {
		@include plumber(		
			$baseline: $accent-baseline,
	    	$line-height: 2,
	    	$leading-top: 1,
			$font-size: $size-nav-mobile
		);
	}
}

footer .copyright {
	font-weight: 100;
	font-family: $font-sans;
	@include plumber(		
		$baseline: $accent-baseline,
		$font-size: 0.8,
		$leading-top: 5
	);
}
