footer {
	@include gradient-bg();
	padding: 32px 0;
}

footer h2{
	@include plumber(
		$baseline: $accent-baseline,
		$grid-height: 0.5rem,
		$font-size: 3,
		$leading-top: 5,	
		$leading-bottom: 3	
	);
}

footer h4{
	color: $black;
	@include for-tablet-portrait-up {
		@include plumber(
			$baseline: $accent-baseline,
			$grid-height: 0.5rem,
			$font-size: $size-h4-2x,
			$leading-top: 5,	
			$leading-bottom: 3	
		);
	}
	@include for-phone-only {
		@include plumber(
			$baseline: $accent-baseline,
			$grid-height: 0.5rem,
			$font-size: $size-h4-2x-mobile,
			$leading-top: 5,	
			$leading-bottom: 3	
		);
	}
}

footer p {
	color: $type-grey;
	@include for-tablet-portrait-up {
		@include plumber(		
			$baseline: $serif-baseline,
			$grid-height: 0.5rem,
	    	$line-height: 3,
			$font-size: 2,
			$leading-top: 1
		);
	}
	@include for-phone-only {
		@include plumber(		
			$baseline: $serif-baseline,
			$grid-height: 0.5rem,
	    	$line-height: 4,
			$font-size: 2.5,
			$leading-top: 1
		);		
	}
}

footer a {
	display: block;
	font-weight: 700;
	@include for-tablet-portrait-up {
		@include plumber(		
			$baseline: $accent-baseline,
			$grid-height: 0.5rem,
	    	$line-height: 4,
			$font-size: 2
		);
	}
	@include for-phone-only {
		@include plumber(		
			$baseline: $accent-baseline,
			$grid-height: 0.5rem,
	    	$line-height: 4,
			$font-size: $size-nav-mobile*2
		);
	}
}

.footer__biolink {
	@include for-tablet-portrait-up {
		@include plumber(		
			$baseline: $accent-baseline,
			$font-size: 1,
			$leading-top: 2
		);		
	}
	@include for-phone-only {
		@include plumber(		
			$baseline: $accent-baseline,
	    	$line-height: 2,
	    	$leading-top: 1,
			$font-size: $size-nav-mobile
		);
	}
}

footer .copyright {
	font-weight: 100;
	font-family: $font-accent;
	@include plumber(		
		$baseline: $accent-baseline,
		$grid-height: 0.5rem,
		$font-size: 1.5,
		$leading-top: 8
	);
}
