.intro h1 {
	@include plumber(
		$baseline: $accent-baseline,
		$font-size: 2.125,
		$leading-top: 4
	);
}

.intro h3 {
	@include plumber(	
		$baseline: $sans-baseline,
		$font-size: 1,    
	    $leading-top: 12
	);
}

.intro p {
	font-family: $font-sans;
	font-weight: 300;
	color: $type-grey;
	@include plumber(
		$baseline: $sans-baseline,
		$font-size: 1.5,
		$leading-top: 2
	);
}
header h1 {
	@include plumber(
		$baseline: $accent-baseline,
		$font-size: 1.5,
		$leading-top: 3,
		$leading-bottom: 10
	);
}

header h3 {
	@include plumber(
		$baseline: $sans-baseline,
		$font-size: 1,
		$leading-top: 9
	);
}