//Intro (Home) Headers
.intro h1 {
	font-weight: 700;
	@include for-tablet-portrait-up {
		@include plumber(
			$baseline: $accent-baseline,
			$font-size: 3.5,
			$leading-top: 8
		);
	}
	@include for-phone-only {
		@include plumber(
			$baseline: $accent-baseline,
			$font-size: 2,
			$leading-top: 8
		);
	}
	
}

.intro h3 {
	@include plumber(	
		$baseline: $sans-baseline,
		$font-size: $size-h3,    
	    $leading-top: 10
	);
}

.intro p {
	font-family: $font-sans;
	font-weight: 300;
	color: $type-grey;
	@include plumber(
		$baseline: $sans-baseline,
		$font-size: 1.5,
		$leading-top: 3
	);
}

//Standard project headers
header h1 {
	@include for-tablet-portrait-up {
		@include plumber(
			$baseline: $accent-baseline,		
			$grid-height: 0.5rem,
			$font-size: 3,
			$line-height: 5,
			$leading-top: 5,
			$leading-bottom: 28
		);
	}
	@include for-phone-only {
		z-index: 99;
		@include plumber(
			$baseline: $accent-baseline,		
			$grid-height: 0.5rem,
			$font-size: 3,
			$line-height: 5,
			$leading-top: 5,
			$leading-bottom: 10
		);
	}
	
}

header h3 {
	@include for-tablet-portrait-up {
		@include plumber(
			$baseline: $sans-baseline,
			$font-size: $size-h3,
			$leading-top: 10
		);
	}
	@include for-phone-only {
		z-index: 99;
		@include plumber(
			$baseline: $sans-baseline,
			$font-size: 1,
			$leading-top: 2
		);
	}

}