.navbar__item {
	letter-spacing: 1px;
	@include for-tablet-portrait-up {
		@include plumber(
			$baseline: $accent-baseline,
			$font-size: 1
		);
	}
	@include for-phone-only {
		@include plumber(
			$baseline: $accent-baseline,
			$font-size: 1.167
		);
	}
	
}

.navbar__item--active {
	@extend .navbar__item;
	color: $black;
	font-weight: 900;
}

.navbar {
	width: 100%;
	padding-top: 1.2rem;
	padding-bottom: 0.6rem;	
	// border-bottom: 1px solid $blue-light;
}


.headhesive {
	position: fixed;                   /* fix the element */
	top: 0;                            /* make sure it's at the top */
	transform: translateY(-100%);      /* move it off screen */
	@include transition(200ms); /* add animation */
	z-index: 99;
}

.headhesive--stick {
	transform: translateY(0%); /* move it back on screen */
	box-shadow: 2px 2px 8px rgba($blue-shadow,.12);
	background-color: rgba(255,255,255,.95);
	border-bottom: none;
}

