.project-list__project div { 
	padding: 0; 
	@include for-tablet-portrait {
		margin-left: 8.3%;
	}
	@include for-phone-only {
		margin-left: 8.3%;
	}
}

// .project--canopy { background-color: $color-canopy; }
// .project--ab { background-color: $color-ab; }
// .project--dstyle { background-color: $color-dstyle; }
// .project-list__project .project__bg { 
// 	height: 100%; 

// } 

.project-list {
		background-color: #F8FBFD;
		padding-top: 2rem;
		padding-bottom: 2rem;
}

// .project-list__bg {		
// 	width: 100%;
// 	@include gradient-bg(-55deg, $white, $blue-bg);
// 	@include for-tablet-portrait-up {
// 		@include clip-path(polygon(0% 100%, 100% 100%, 100% 0%, 0% 10%));
// 		margin-top: -2rem;
// 	}
// 	@include for-phone-only {
// 		@include clip-path(polygon(0% 100%, 100% 100%, 100% 0%, 0% 5%));
// 	}
// }

.project-list__project {
	margin: 0;
	margin-top: 2rem;
	margin-bottom: 2rem;
	border-radius: 4px;
	overflow: hidden;
	background-color: #FDFFFF;
	box-shadow: 2px 2px 24px rgba($blue-shadow,.14);
	@include transition(300ms);
	@include for-desktop-up { height: 320px; }
	@include for-tablet-landscape { height: 320px; }
	@include for-tablet-portrait { height: 480px; }
	@include for-phone-only { height: 480px; }
}

.link {
	@extend a;
	font-weight: 700;
	@include transition(150ms);
}

.project-list__project:hover { 
	// box-shadow: 12px 12px 24px rgba($blue-shadow,.06); 
	margin-left: 2rem; margin-right: -2rem;	
}

.project-list__project:hover .link { color: $blue-link; }



.project-list__project h2 {
	font-weight: 400;
	margin-top: 1rem;
}

.project-list__project h3 {
	@include for-tablet-portrait {
		margin-top: 2rem;
	}
	@include for-phone-only {
		margin-top: 3rem;
	}
}
.project-list__project p {
	@include for-phone-only {
		margin-bottom: 2rem;
	}
}

.project__bg {	
	@include transition(200ms);
	@include for-tablet-landscape-up {
		height: 80%;
	}
	// @include for-tablet-portrait {
	// 	height: 100%;
	// }

}

.project-list__project-image {
	
	overflow: hidden;	
	
	
	@include for-tablet-landscape-up {
		margin-left: 10%;
		height: 100%;
		width: auto;
	}
	@include for-tablet-portrait {
		margin-left: -8.3%;
		width: 100%;

	}
	@include for-phone-only {
		width: 100%;
		margin-left: -8.3%;
	}
	
}




