.project-list__project {
	margin-bottom: 2rem;
	// padding: 0 !important;
	border-radius: 2px;
	overflow: hidden;
	// box-shadow: 4px 4px 16px rgba(0,0,0,.3);
	background-color: $white;
	box-shadow: 4px 4px 16px rgba(0,0,0,.2);
	@include transition(300ms);
	@include for-desktop-up {
		height: 360px;
	}
	@include for-tablet-portrait-up {
		
	}
	@include for-tablet-landscape-up {
		
	}
	@include for-phone-only {
		height: 400px;
		
	}
}

.project-list__project--pending {
	box-shadow: none;
	position: relative;
	background-color: #EBEDF0;
	height: 280px;
}

.project-list__project--pending:after {
	background-color: rgba(255,255,255,.8);
	width: 100%;
	height: 100%;
	content: "Coming Soon";
	text-align: left;
	position: absolute;
	font-family: $font-accent;
	font-size: 1.75rem;
	color: $type-light-grey;
	letter-spacing: 0.4rem; 
	font-weight: 900;
	padding: 8rem 0 0 6rem;
	text-transform: uppercase;
}


.project-list__project--pending:hover {
	box-shadow: none !important;
}

.project-list__project:hover {
	box-shadow: 8px 8px 24px rgba(0,0,0,.12);
}

.icn--arw {
	@include transition(300ms);
}

.project-list__project:hover .icn--arw{
	margin-left: 1rem;
}

.project-list__project div {
	padding: 0;
}

.project-list__project h2 {
	font-family: $font-serif;
	font-weight: 300;
	@include plumber(
		$baseline: $serif-baseline,
		$font-size: 1.5,
		$leading-top: 2,
		$leading-bottom: 2
	);
}

.project-list__project h2:before {
	width: 48px;
	content: "";
	display: block;
	border-bottom: 1px solid $type-grey;
	margin-bottom: 2rem;
}

// .project-list__project-title {
// 	width: 30rem;
// }

.project-list__project h3 {
	@include for-tablet-portrait-up {
		@include plumber(
			$baseline: $sans-baseline,
			$font-size: $size-h3,
			$leading-top: 4
		);
	}
	@include for-phone-only {
		@include plumber(
			$baseline: $sans-baseline,
			$font-size: $size-h3-mobile,
			$leading-top: 4
		);
	}
}

.project-list__project p {
	font-family: $font-sans;
	text-transform: uppercase;
	font-weight: 200;
	letter-spacing: 0.75px;
	color: $type-grey;
	@include plumber(
		$baseline: $sans-baseline,
		$font-size: 1		
	);
}
.icn--arw {
	width: 2rem;
	height: 2rem;
}
.project-list__project-image {
	@include for-tablet-portrait-up {
		width: 168%;
		margin-left: -12em;
		margin-top: 2em;
		margin-bottom: -6em;
		height: auto;
	}
	@include for-tablet-landscape-up {
		width: 120%;
		margin-left: -4em;
		margin-top: 2em;
		height: auto;
	}
	
	// margin-left: -48px;
	// @include for-desktop-up {
	// 	-webkit-clip-path: polygon(35% 0, 0 90%, 100% 90%, 100% 0);
	// }
	// @include for-desktop-up {
	// 	-webkit-clip-path: polygon(35% 0, 0 100%, 100% 90%, 100% 0);
	// }
	// @include for-tablet-landscape {
	// 	-webkit-clip-path: polygon(35% 0, 0 100%, 100% 100%, 100% 0);
	// }
	// @include for-tablet-portrait {
	// 	-webkit-clip-path: polygon(0 20%, 0 100%, 100% 100%, 100% 0);
	// }
	// @include for-phone-only {
	// 	-webkit-clip-path: polygon(0 20%, 0 100%, 100% 100%, 100% 0);
	// }
	
	overflow: hidden;
	// background-image: url(../images/ab-splash.png);
}




