.overview__container {
	background-color: $bg-grey;
	padding-bottom: 3rem;
}

//Project Body
// .project__body h2 {
// 	@include plumber(
// 		$baseline: $accent-baseline,
// 		$font-size: 1.8,
// 		$leading-top: 3,
// 		$leading-bottom: 1
// 	);	
// }

.overview__container h4 {
	@include for-phone-only {
		@include plumber(
			$baseline: $accent-baseline,
			$font-size: 1,
			$leading-top: 2
		);		
	}
}


.row__img {
	@include for-tablet-portrait-up {
		margin: 2rem 0;
	}
	
}

.row__img .col-sm-12 {
	padding: 0 !important;
}
//Project Images
.row__img img {
	width: 100%;
	height: auto;
	border-radius: 2px;
	@include for-phone-only {
		margin: 1rem auto; 		
	}
	@include for-tablet-portrait-up {
		margin: 1rem 0;
	}
}

