.project-list__project div { padding: 0; }

.project--canopy { background-color: $color-canopy; }
.project--ab { background-color: $color-ab; }
.project--dstyle { background-color: $color-dstyle; }

.project-list__bg {		
	width: 100%;
	@include gradient-bg(-55deg, $white, $blue-bg);
	@include for-tablet-portrait-up {
		clip-path: polygon(0% 100%, 100% 100%, 100% 0%, 0% 10%);
		margin-top: -2rem;
	}
	@include for-phone-only {
		clip-path: polygon(0% 100%, 100% 100%, 100% 0%, 0% 5%);
	}
}

.project-list__project {
	margin: 0;
	margin-bottom: 4rem;
	border-radius: 4px;
	overflow: hidden;
	background-color: #FDFFFF;
	box-shadow: 4px 4px 16px rgba($blue-shadow,.12);
	@include transition(300ms);
	@include for-desktop-up { height: 320px; }
	@include for-tablet-portrait-up { height: 360px; }
	@include for-phone-only { height: 480px; }
}

.link {
	@include transition(150ms);
	font-family: $font-sans;
	display: block;
	font-weight: 700;
	color: $type-light-grey;
	@include for-tablet-portrait-up {
		@include plumber(		
			$baseline: $sans-baseline,
			$font-size: 1.1
		);
	}

}

.project-list__project:hover { box-shadow: 12px 12px 24px rgba($blue-shadow,.06); }
.project-list__project:hover .link { color: $type-grey; }
.project-list__project:hover .project__bg { height: 100%; } 


.project-list__project h2 {
	font-weight: 400;
	margin-top: 0rem;
}

.project-list__project h3 {
	@include for-tablet-portrait {
		margin-top: 2rem;
	}
	@include for-phone-only {
		margin-top: 3rem;
	}
}
.project-list__project p {
	@include for-phone-only {
		margin-bottom: 2rem;
	}
}

.project__bg {	
	@include transition(200ms);
	@include for-tablet-landscape-up {
		height: 80%;
	}
	@include for-tablet-portrait {
		height: 100%;
	}

}

.project-list__project-image {
	height: auto;
	overflow: hidden;	
	width: 80%;
	margin-left: 10%;
	@include for-tablet-landscape-up {
		margin-top: 2rem;
	}
	@include for-tablet-portrait {
		margin-top: 5rem;
	}
	@include for-phone-only {
		margin-top: 2rem;
	}
	
}




