//Sketchbook header
header.sketch__header h1 {
	font-weight: 900;
	@include plumber(
		$grid-height: 0.5rem,
		$baseline: $accent-baseline,
		$font-size: 3.5,
		$line-height: 5,
		$leading-top: 8
	);
}

header.sketch__header p {
	font-family: $font-sans;
	font-weight: 300;
	color: $type-grey;
	@include plumber(
		$grid-height: 0.5rem,
		$baseline: $sans-baseline,
		$font-size: 3,
		$line-height: 4,
		$leading-top: 2,
		$leading-bottom: 16
	);
}

.sketch__body {
	margin-bottom: 48px;
}

.sketch__header img {
	width: 100%;
	margin: 32px 0;
}

.sketch__body img {
	margin: 32px 0;
}

.ht-420 img {
	height: 420px;
	width: auto;
}

.ht-320 img {
	height: 320px;
	width: auto;
}