//Sketchbook header
.sketch__header h3 {
	@include for-phone-only {
		display: none;
	}
}

header.sketch__header h1 {
	font-weight: 900;
	@include plumber(
		$grid-height: 0.5rem,
		$baseline: $accent-baseline,
		$font-size: 3.5,
		$line-height: 5,
		$leading-top: 8
	);
}

header.sketch__header p {
	font-family: $font-sans;
	font-weight: 300;
	color: $type-grey;
	@include plumber(
		$grid-height: 0.5rem,
		$baseline: $sans-baseline,
		$font-size: 3,
		$line-height: 4,
		$leading-top: 2,
		$leading-bottom: 16
	);
}

.sketch__body {
	@include for-tablet-portrait-up {
		margin-bottom: 48px;	
	}
}

.sketch__header img {
	width: 100%;
	margin: 32px 0;
}

.sketch__body img {
	@include for-phone-only {
		width: 100%;
		margin: 32px 0;
	}
}

.sketch__body img {
	@include for-tablet-portrait-up {
		margin: 32px 0;
	}
}

.ht-420 img {
	@include for-tablet-portrait-up {
		height: 420px;
		width: auto;
	}
}

.ht-320 img {
	@include for-tablet-portrait-up {
		height: 320px;
		width: auto;
	}
}